.container {
    background-color: rgb(20, 187, 220);
    text-align: center;
    align-items: center;
}

#grid {
    gap: 3px;
    text-align: center;
}

.bord {
    width: 606px;
    height: 606px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 200px;
    height: 200px;
    border: solid black 1px;
}

.mole {
    background-image: url("images/angry.png");
    background-size: cover;
}